/* GENERAL */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Verdana, sans-serif;
    background: #eee;
}

/* HEADER */

.logo {
    vertical-align: middle;
    margin: 10px 0px 10px 15px;
}

.main-header {
    background: #fff;
}

/* MAIN CONTENT */

main {
    width: 1000px;
    margin: 50px auto;
    max-width: 100%;
    background-color: white;
    border-radius: 10px;
}

.options {
    width: 1000px;
    margin: auto;
    padding: 15px 0px 10px 50px;
    max-width: 100%;
    border-bottom: 3px solid #eee;
}

.opt1 {
    display: inline-block;
    width: 100px;
    height: 40px;
    text-align: center;
    color: white;
    line-height: 40px;
    background: dodgerblue;
    border-radius: 5px;
}

.opt2 {
    display: inline-block;
    width: 100px;
    height: 40px;
    text-align: center;
    color: lightgray;
    line-height: 40px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

/*LISTS*/

.sec-task {
    width: 1000px;
    margin: auto;
    padding: 30px 0px 0px 50px;
    max-width: 100%;
}

.sec-today {
    width: 1000px;
    margin: auto;
    padding-top: 15px;
    padding-left: 50px;
    max-width: 100%;
}


.list-item {
    width: 1000px;
    margin: auto;
    padding-left: 50px;
    max-width: 100%;
    list-style: none;
    margin-bottom: 15px;
}

.editorial {
    display: inline-block;
    width: 60px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    color: white;
    line-height: 25px;
    background: dodgerblue;
    border-radius: 10px;
}

.goals {
    display: inline-block;
    width: 70px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    color: white;
    line-height: 25px;
    background: rgb(153, 0, 255);
    border-radius: 10px;
}

.recr {
    display: inline-block;
    width: 80px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    color: white;
    line-height: 25px;
    background: rgb(35, 163, 103);
    border-radius: 10px;
}

.mobile {
    display: inline-block;
    width: 50px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    color: white;
    line-height: 25px;
    background: orange;
    border-radius: 10px;
}

.website {
    display: inline-block;
    width: 70px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    color: white;
    line-height: 25px;
    background: rgb(250, 132, 151);
    border-radius: 10px;
}

.sales {
    display: inline-block;
    width: 45px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    color: white;
    line-height: 25px;
    background: rgb(129, 190, 37);
    border-radius: 10px;
}

.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    color: green;
    line-height: 20px;
    border: 1px solid;
    border-radius: 50%;
}

.icon-remove {
    color: red;
}

.last-ul {
    padding-bottom: 50px;
}

.foot {
    width: 1000px;
    margin: 10px auto;
    max-width: 100%;
    text-align: center;
    background-color: white;
    border-radius: 10px;   
}